<div class="container">
	<h3>Welcome Vivek..! </h3>
	<p style="padding: 15px;">Select what would you like to do.. </p>
	<p  style="padding: 20px;"></p>
	<a href="#/register">
          <p class="button1" style="margin-left: 250px;">Register new Device</p>            
    </a>
	<a href="#/manage">
          <p class="button2" style="margin-left: 250px;">Manage your Devices</p>            
    </a>
	<p  style="padding: 80px;"></p>
</div>

<!-- <div class="container">
 <img src= "img/blkn_armfit.jpg" style="height: 402px;width: 900px;">
</div>

 <div ng-repeat="product in products" class="col-md-4">
      <div class="thumbnail">
          <img ng-src="{{ product.cover }}">
          <p class="title">{{product.name | uppercase}} </p>
      </div>
</div> -->
            
            