<div class="container">
	<h3 style="margin-top: -40px;">Click the icon to turn On/Off the light switch, {{endpoint}}</h3>
      <p  style="padding: 40px;"></p>
        
         <p id= "temp" style="font-size: 20px;display: inline;"></p>  
         <img id="power" ng-click="changeStatus()" ng-controller="LightSwitchController" src="" style=" width: 80px; height: 80px; cursor: pointer; margin-left: 100px;">
         <p  style="padding: 20px;"></p>
         <a class = "click" href="#/manage">
		 <p style="cursor: pointer; display: inline;">Click here</p>
		 </a> 
		 <p style="display: inline;"> to go Back.</p>
                    
   <p  style="padding: 100px;"></p>
</div>