<div class="container">
	<h3 style="margin-top: -40px;">Click on Observe to read current temperature of your device, {{endpoint}}</h3>
      <p  style="padding: 8px;"></p>
        <button type="submit" class="btn"  style="margin-left: 250px;width: 86px;height: 44px;" ng-click="getValue()" ng-controller="ThermoController">Observe</button>

	   <a href="#/manage">
		<button type="submit" class="btn"  style="margin-left: 250px;width: 86px;height: 44px;">Back</button>            
	   </a>
	  <p  style="padding: 30px;"></p>
	  	
	  <p id= "temp" style="font-size: 20px;"></p>
	   
   <p  style="padding: 100px;"></p>
</div>
